<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewUser"
      v-b-modal.modal-form-user
      >Add New</b-button
    >

    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-container class="bv-example-row">
          <b-row>
            <b-col cols="6">
              <b-form-group
                label="ชื่อ"
                label-for="name"
                :invalid-feedback="invalidFeedbackName"
                :valid-feedback="validFeedbackName"
                :state="stateName"
              >
                <b-form-input
                  id="name"
                  v-model="form.name"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group
                label="นามสกุล"
                label-for="surname"
                :invalid-feedback="invalidFeedbackSurname"
                :valid-feedback="validFeedbackSurname"
                :state="stateSurname"
              >
                <b-form-input
                  id="Surname"
                  v-model="form.surname"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="12">
              <b-form-group label="เพศ" label-for="gender">
                <b-form-select
                  id="gender"
                  v-model="form.gender"
                  :options="genderOptions"
                  required
                  :invalid-feedback="invalidFeedbackGender"
                  :valid-feedback="validFeedbackGender"
                  :state="stateGender"
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group
                label="วันเกิด"
                label-for="birthday"
                :invalid-feedback="invalidFeedbackBirthday"
                :valid-feedback="validFeedbackBirthday"
                :state="stateBirthday"
              >
                <b-form-input
                  id="birthday"
                  v-model="form.birthday"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group label="การศึกษา" label-for="education">
                <b-form-select
                  id="education"
                  v-model="form.education"
                  :options="educationOptions"
                  required
                  :invalid-feedback="invalidFeedbackEducation"
                  :valid-feedback="validFeedbackEducation"
                  :state="stateEducation"
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group label="แผนก" label-for="section">
                <b-form-select
                  id="section"
                  v-model="form.section"
                  :options="sectionOptions"
                  required
                  :invalid-feedback="invalidFeedbackSection"
                  :valid-feedback="validFeedbackSection"
                  :state="stateSection"
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group
                label="เงินเดือน"
                label-for="salary"
                :invalid-feedback="invalidFeedbackSalary"
                :valid-feedback="validFeedbackSalary"
                :state="stateSalary"
              >
                <b-form-input
                  id="salary"
                  type="number"
                  v-model="form.salary"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button @click="delUser(data.item)" variant="danger">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import userService from './UserService'
export default {
  data () {
    return {
      title: '',
      form: {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        birthday: '',
        education: null,
        section: null,
        salary: 0
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'ผู้ชาย', text: 'ผู้ชาย' },
        { value: 'ผู้หญิง', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { text: 'Select One', value: null },
        { value: 'มัธยมศึกษา', text: 'มัธยมศึกษา' },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' }
      ],
      sectionOptions: [
        { text: 'Select One', value: null },
        { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
        { value: 'แผนกขาย', text: 'แผนกขาย' },
        { value: 'แผนกการตลาด', text: 'แผนกการตลาด' },
        { value: 'แผนกการเงิน/บัญชี', text: 'แผนกการเงิน/บัญชี' },
        { value: 'แผนกการผลิต', text: 'แผนกการผลิต' },
        { value: 'แผนกไอที', text: 'แผนกไอที' }
      ],
      userList: [],
      fields: [
        'id',
        'name',
        'surname',
        'gender',
        'birthday',
        'education',
        'section',
        'salary',
        'operation'
      ]
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            userService.deleteUser(user)
            this.userList = userService.gerUsers()
          }
        })
    },
    addNewUser () {
      console.log('Add new user')
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('model-form-user')
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        birthday: '',
        education: null,
        section: null,
        salary: 0
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Check validate
      if (this.form.id > 0) {
        // this.updateUser(this.form)
        userService.updateUser(this.form)
        this.userList = userService.gerUsers()
      } else {
        // this.addUser(this.form)
        userService.addUser(this.form)
        this.userList = userService.gerUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateSurname () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurname () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'นามสกุลต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่นามสกุล'
      }
    },
    validFeedbackSurname () {
      return this.stateSurname === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateBirthday () {
      return this.form.birthday.length !== 0
    },
    invalidFeedbackBirthday () {
      if (this.form.birthday.length !== 0) {
        return ''
      } else {
        return 'กรุณาใส่วันเกิด'
      }
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'สำเร็จ' : ''
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษา'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },
    stateSection () {
      return this.form.section != null
    },
    invalidFeedbackSection () {
      if (this.form.section != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษา'
      }
    },
    validFeedbackSection () {
      return this.stateSection === true ? 'สำเร็จ' : ''
    },
    stateSalary () {
      return parseInt(this.form.salary) > 0
    },
    invalidFeedbackSalary () {
      if (parseInt(this.form.salary) > 0) {
        return ''
      } else if (parseInt(this.form.salary) < 0) {
        return 'เงินเดือนต้องไม่ติดลบ'
      } else {
        return 'กรุณาใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.userList = userService.gerUsers()
  }
}
</script>
